<md-text-float
  label="Search"
  ng-model="query"
  ng-model-options="{ debounce: { 'default': 200 } }"
  name="query"
  type="text"
  autofocus="true">
</md-text-float>

<md-list>
  <md-item ng-repeat="expense in expenses">
    <md-item-content>
      <md-card flex>
        {{ expense.description }}
      </md-card>
    </md-item-content>
  </md-item>
</md-list>

<md-button class="md-primary md-fab md-fab-bottom-right u-fixed" ng-click='showNewExpenseDialog($event)'>
  <i class='fa fa-plus'></i>
</md-button>
