<md-text-float
  label="Search"
  ng-model="query"
  ng-model-options="{ debounce: { 'default': 200 } }"
  name="query"
  type="text"
  autofocus="true">
</md-text-float>

<md-list>
  <md-item ng-repeat="expense in expenses">
    <md-item-content>
      <md-card flex>
      <div><b>{{ expense.value }} €</b></div>
      <div am-time-ago='expense.date'></div>
      <div>{{ expense.description }}</div>
      <span class='tag' ng-repeat='tag in expense.tagList'>{{ tag }}</span>
      </md-card>
    </md-item-content>
  </md-item>
</md-list>

<a ui-sref='new_expense'>
  <md-button class="md-primary md-fab md-fab-bottom-right u-fixed">
    <i class='fa fa-plus'></i>
  </md-button>
</a>
