<form ng-submit="submit()" class='md-padding'>
  <md-subheader class='md-sticky-no-effect'>New expense</md-subheader>

  <md-text-float
    label="Description"
    ng-model="newExpense.description"
    type="text">
  </md-text-float>

  <md-text-float
    label="Value"
    ng-model="newExpense.value"
    type="number">
  </md-text-float>

  <tag-list-input ng-model="newExpense.tagList"></tag-list-input>

  <md-text-float
    label="Date"
    ng-model="newExpense.date"
    type="date">
  </md-text-float>

  <div class='md-actions' layout='row'>
    <md-button class="md-raised md-primary" aria-label="Save">Save</md-button>
  </div>
</form>
