<form ng-submit="submit()" class='md-padding'>
  <md-subheader class='md-sticky-no-effect'>New expense</md-subheader>

  <md-input-container>
    <label>Description</label>
    <input type="text" ng-model="newExpense.description">
  </md-input-container>

  <md-input-container>
    <label>Value</label>
    <input type="number" ng-model="newExpense.value">
  </md-input-container>

  <tag-list-input ng-model="newExpense.tagList"></tag-list-input>

  <md-input-container>
    <label>Date</label>
    <input type="date" ng-model="newExpense.date">
  </md-input-container>

  <!-- <date-picker ng-model="newExpense.date"></date-picker> -->

  <div class='md-actions' layout='row'>
    <md-button class="md-raised md-primary" aria-label="Save">Save</md-button>
  </div>
</form>
