<accordion>
  <accordion-item ng-repeat="day in days">
  <accordion-item>
    <accordion-header>
      <div><b>{{ day.sum }}</b></div>
      <div>{{ day.date }}</div>
    </accordion-header>
    <accordion-content>
      Expenses for this day
    </accordion-content>
  </accordion-item>
  </accordion>
</accordion>

<md-list>
  <md-item ng-repeat="day in days">
    <md-item-context>
      <md-card flex>
        <md-card-content>
          <div><b>{{ day.sum }} €</b></div>
          <div>{{ day.date }}</div>
        </md-card-content>
      </md-card>
    </md-item-content>
  </md-item>
</md-list>
